ndim() returns the number of dimension of the data struture. 
Axes() returns a list of the axes of the row labels

In [11]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

df = pd.read_csv('MathScoreTerm1.csv')
# print(df)
print('The Number of Dimension: ', df.ndim)
print(df.axes)

The Number of Dimension:  2
[RangeIndex(start=0, stop=599, step=1), Index(['Name', 'Score', 'Age', 'Ethinicity', 'Subject', 'Sex', 'ID'], dtype='object')]

In [7]:
print(df.values)

[['AI-KYUNG CHUNG' 88.0 18 ... 'Maths' 'M' 1]
 ['ALAN HARVEY' 85.0 19 ... 'Maths' 'M' 2]
 ['ALAN REYNAUD' 45.0 19 ... 'Maths' 'M' 3]
 ...
 ['ZACHARY PUMPHREY' 53.0 20 ... 'Maths' 'M' 597]
 ['ZEBA IMAN NAZEERI-SIMMONS' 75.0 20 ... 'Maths' 'M' 598]
 ['ZHI JIAR ZHUANG' 88.0 19 ... 'Maths' 'M' 599]]

Print top N record from dataframe. Here N = 10

In [9]:
print(df.head(10))

                Name  Score  Age         Ethinicity Subject Sex  ID
0     AI-KYUNG CHUNG   88.0   18     White American   Maths   M   1
1        ALAN HARVEY   85.0   19  European American   Maths   M   2
2       ALAN REYNAUD   45.0   19  European American   Maths   M   3
3     ALBERT CENDANA   82.0   18     White American   Maths   M   4
4     ALBERT HOLT JR   82.0   18     White American   Maths   F   5
5     ALBERT PARDINI   95.0   20     White American   Maths   M   6
6          ALBERT YU   95.0   18     White American   Maths   M   7
7    ALBERTO PEDRUCO   65.0   19     White American   Maths   M   8
8         ALEC BALMY   88.0   18           Hispanic   Maths   M   9
9  ALEETA VAN RUNKLE   88.0   19           Hispanic   Maths   F  10

Print buttom N record from dataframe. Here N = 5

In [10]:
print(df.tail(5))

                          Name  Score  Age      Ethinicity Subject Sex   ID
594                    WING NG   45.0   19  White American   Maths   F  595
595                YIFANG QIAN   75.0   18  White American   Maths   M  596
596           ZACHARY PUMPHREY   53.0   20  White American   Maths   M  597
597  ZEBA IMAN NAZEERI-SIMMONS   75.0   20        Hispanic   Maths   M  598
598            ZHI JIAR ZHUANG   88.0   19        Hispanic   Maths   M  599

Sum add the sumation of all value

In [19]:
print(df['Score'].sum())
print(df.groupby(['Ethinicity'])['Age'].sum())

44312.0
Ethinicity
African American      594
European American    2982
Hispanic             2370
White American       5508
Name: Age, dtype: int64

'std()' returns the standard deviation of the values for the requested axis

In [21]:
print(df['Age'].std())

1.0522340509911923

iteritems() iterates over each column as key and value as pair

In [22]:
for key, value in df.iteritems():
    print(key,value)

Name 0                 AI-KYUNG CHUNG
1                    ALAN HARVEY
2                   ALAN REYNAUD
3                 ALBERT CENDANA
4                 ALBERT HOLT JR
5                 ALBERT PARDINI
6                      ALBERT YU
7                ALBERTO PEDRUCO
8                     ALEC BALMY
9              ALEETA VAN RUNKLE
10                      ALEX TSE
11                ALEXANDER CHEN
12                ALEXANDER KWAN
13                ALEXIS GOLDNER
14                  ALLEN TURPIN
15                     ALSON LEE
16                     ALVIN LAU
17                     AMEN CHOW
18              AMPARO RODRIGUEZ
19                     AMY BROWN
20                      AMY HART
21                   ANA SAMPERA
22              ANDRE ANDREWS SR
23                ANDRE WILLIAMS
24                  ANDREW LOGAN
25                  ANDREW SAITZ
26                   ANDY ZANOFF
27                ANGELA PLATZER
28                    ANN MANNIX
29                    ANNA BROWN
                 ...
569                   TRYG MCCOY
570               TUAMELIE MOALA
571                TYRONE PRUITT
572               TYRONNE JULIAN
573                VALERIE AGARD
574               VALERIE INOUYE
575                       VAN LY
576                   VENUS AZAR
577              VERNONICA JONES
578                VICKI CLAYTON
579                VICTOR WYRSCH
580                VINCENT DAVIS
581             VINCENT PAMPANIN
582                   VIVIAN DAY
583              WAYNE SNODGRASS
584                  WENDY STILL
585                  WHITNEY YEE
586            WILLIAM MCFARLAND
587            WILLIAM MCFARLAND
588              WILLIAM MULKEEN
589                WILLIAM RADER
590             WILLIAM ROUALDES
591                WILLIAM SCOTT
592           WILLIAM SIFFERMANN
593                    WING CHAN
594                      WING NG
595                  YIFANG QIAN
596             ZACHARY PUMPHREY
597    ZEBA IMAN NAZEERI-SIMMONS
598              ZHI JIAR ZHUANG
Name: Name, Length: 599, dtype: object
Score 0      88.0
1      85.0
2      45.0
3      82.0
4      82.0
5      95.0
6      95.0
7      65.0
8      88.0
9      88.0
10     53.0
11     53.0
12     66.0
13     88.0
14     88.0
15     82.0
16     31.0
17     95.0
18     91.0
19     66.0
20     82.0
21     66.0
22     75.0
23     65.0
24     91.0
25     91.0
26     53.0
27     91.0
28     88.0
29     85.0
       ...
569    65.0
570    45.0
571    82.0
572    53.0
573    85.0
574    75.0
575    85.0
576    75.0
577    85.0
578    82.0
579    65.0
580    95.0
581    91.0
582    45.0
583    95.0
584    91.0
585    53.0
586    85.0
587    45.0
588    88.0
589    82.0
590    65.0
591    88.0
592    91.0
593    88.0
594    45.0
595    75.0
596    53.0
597    75.0
598    88.0
Name: Score, Length: 599, dtype: float64
Age 0      18
1      19
2      19
3      18
4      18
5      20
6      18
7      19
8      18
9      19
10     20
11     20
12     19
13     18
14     21
15     20
16     18
17     18
18     18
19     18
20     18
21     18
22     18
23     19
24     20
25     18
26     20
27     20
28     21
29     19
       ..
569    19
570    19
571    20
572    18
573    18
574    20
575    21
576    18
577    19
578    18
579    21
580    18
581    20
582    21
583    18
584    18
585    20
586    19
587    18
588    19
589    20
590    19
591    19
592    20
593    19
594    19
595    18
596    20
597    20
598    19
Name: Age, Length: 599, dtype: int64
Ethinicity 0         White American
1      European American
2      European American
3         White American
4         White American
5         White American
6         White American
7         White American
8               Hispanic
9               Hispanic
10        White American
11        White American
12        White American
13        White American
14        White American
15        White American
16        White American
17     European American
18              Hispanic
19        White American
20              Hispanic
21     European American
22        White American
23              Hispanic
24     European American
25        White American
26              Hispanic
27     European American
28              Hispanic
29        White American
             ...
569             Hispanic
570    European American
571             Hispanic
572    European American
573    European American
574    European American
575       White American
576       White American
577       White American
578       White American
579       White American
580     African American
581       White American
582             Hispanic
583             Hispanic
584    European American
585       White American
586       White American
587             Hispanic
588    European American
589             Hispanic
590       White American
591             Hispanic
592             Hispanic
593    European American
594       White American
595       White American
596       White American
597             Hispanic
598             Hispanic
Name: Ethinicity, Length: 599, dtype: object
Subject 0      Maths
1      Maths
2      Maths
3      Maths
4      Maths
5      Maths
6      Maths
7      Maths
8      Maths
9      Maths
10     Maths
11     Maths
12     Maths
13     Maths
14     Maths
15     Maths
16     Maths
17     Maths
18     Maths
19     Maths
20     Maths
21     Maths
22     Maths
23     Maths
24     Maths
25     Maths
26     Maths
27     Maths
28     Maths
29     Maths
       ...
569    Maths
570    Maths
571    Maths
572    Maths
573    Maths
574    Maths
575    Maths
576    Maths
577    Maths
578    Maths
579    Maths
580    Maths
581    Maths
582    Maths
583    Maths
584    Maths
585    Maths
586    Maths
587    Maths
588    Maths
589    Maths
590    Maths
591    Maths
592    Maths
593    Maths
594    Maths
595    Maths
596    Maths
597    Maths
598    Maths
Name: Subject, Length: 599, dtype: object
Sex 0      M
1      M
2      M
3      M
4      F
5      M
6      M
7      M
8      M
9      F
10     M
11     M
12     M
13     M
14     F
15     M
16     M
17     M
18     M
19     F
20     M
21     M
22     M
23     M
24     F
25     M
26     M
27     M
28     M
29     F
      ..
569    F
570    M
571    M
572    M
573    M
574    F
575    M
576    M
577    M
578    M
579    F
580    M
581    M
582    M
583    M
584    F
585    M
586    M
587    M
588    M
589    F
590    M
591    M
592    M
593    M
594    F
595    M
596    M
597    M
598    M
Name: Sex, Length: 599, dtype: object
ID 0        1
1        2
2        3
3        4
4        5
5        6
6        7
7        8
8        9
9       10
10      11
11      12
12      13
13      14
14      15
15      16
16      17
17      18
18      19
19      20
20      21
21      22
22      23
23      24
24      25
25      26
26      27
27      28
28      29
29      30
      ...
569    570
570    571
571    572
572    573
573    574
574    575
575    576
576    577
577    578
578    579
579    580
580    581
581    582
582    583
583    584
584    585
585    586
586    587
587    588
588    589
589    590
590    591
591    592
592    593
593    594
594    595
595    596
596    597
597    598
598    599
Name: ID, Length: 599, dtype: int64

itertuples() returns as a named tupple for each row

In [23]:
for row in df.itertuples():
    print(row)

Pandas(Index=0, Name='AI-KYUNG CHUNG', Score=88.0, Age=18, Ethinicity='White American', Subject='Maths', Sex='M', ID=1)
Pandas(Index=1, Name='ALAN HARVEY', Score=85.0, Age=19, Ethinicity='European American', Subject='Maths', Sex='M', ID=2)
Pandas(Index=2, Name='ALAN REYNAUD', Score=45.0, Age=19, Ethinicity='European American', Subject='Maths', Sex='M', ID=3)
Pandas(Index=3, Name='ALBERT CENDANA', Score=82.0, Age=18, Ethinicity='White American', Subject='Maths', Sex='M', ID=4)
Pandas(Index=4, Name='ALBERT HOLT JR', Score=82.0, Age=18, Ethinicity='White American', Subject='Maths', Sex='F', ID=5)
Pandas(Index=5, Name='ALBERT PARDINI', Score=95.0, Age=20, Ethinicity='White American', Subject='Maths', Sex='M', ID=6)
Pandas(Index=6, Name='ALBERT YU', Score=95.0, Age=18, Ethinicity='White American', Subject='Maths', Sex='M', ID=7)
Pandas(Index=7, Name='ALBERTO PEDRUCO', Score=65.0, Age=19, Ethinicity='White American', Subject='Maths', Sex='M', ID=8)
Pandas(Index=8, Name='ALEC BALMY', Score=88.0, Age=18, Ethinicity='Hispanic', Subject='Maths', Sex='M', ID=9)
Pandas(Index=9, Name='ALEETA VAN RUNKLE', Score=88.0, Age=19, Ethinicity='Hispanic', Subject='Maths', Sex='F', ID=10)
Pandas(Index=10, Name='ALEX TSE', Score=53.0, Age=20, Ethinicity='White American', Subject='Maths', Sex='M', ID=11)
Pandas(Index=11, Name='ALEXANDER CHEN', Score=53.0, Age=20, Ethinicity='White American', Subject='Maths', Sex='M', ID=12)
Pandas(Index=12, Name='ALEXANDER KWAN', Score=66.0, Age=19, Ethinicity='White American', Subject='Maths', Sex='M', ID=13)
Pandas(Index=13, Name='ALEXIS GOLDNER', Score=88.0, Age=18, Ethinicity='White American', Subject='Maths', Sex='M', ID=14)
Pandas(Index=14, Name='ALLEN TURPIN', Score=88.0, Age=21, Ethinicity='White American', Subject='Maths', Sex='F', ID=15)
Pandas(Index=15, Name='ALSON LEE', Score=82.0, Age=20, Ethinicity='White American', Subject='Maths', Sex='M', ID=16)
Pandas(Index=16, Name='ALVIN LAU', Score=31.0, Age=18, Ethinicity='White American', Subject='Maths', Sex='M', ID=17)
Pandas(Index=17, Name='AMEN CHOW', Score=95.0, Age=18, Ethinicity='European American', Subject='Maths', Sex='M', ID=18)
Pandas(Index=18, Name='AMPARO RODRIGUEZ', Score=91.0, Age=18, Ethinicity='Hispanic', Subject='Maths', Sex='M', ID=19)
Pandas(Index=19, Name='AMY BROWN', Score=66.0, Age=18, Ethinicity='White American', Subject='Maths', Sex='F', ID=20)
Pandas(Index=20, Name='AMY HART', Score=82.0, Age=18, Ethinicity='Hispanic', Subject='Maths', Sex='M', ID=21)
Pandas(Index=21, Name='ANA SAMPERA', Score=66.0, Age=18, Ethinicity='European American', Subject='Maths', Sex='M', ID=22)
Pandas(Index=22, Name='ANDRE ANDREWS SR', Score=75.0, Age=18, Ethinicity='White American', Subject='Maths', Sex='M', ID=23)
Pandas(Index=23, Name='ANDRE WILLIAMS', Score=65.0, Age=19, Ethinicity='Hispanic', Subject='Maths', Sex='M', ID=24)
Pandas(Index=24, Name='ANDREW LOGAN', Score=91.0, Age=20, Ethinicity='European American', Subject='Maths', Sex='F', ID=25)
Pandas(Index=25, Name='ANDREW SAITZ', Score=91.0, Age=18, Ethinicity='White American', Subject='Maths', Sex='M', ID=26)
Pandas(Index=26, Name='ANDY ZANOFF', Score=53.0, Age=20, Ethinicity='Hispanic', Subject='Maths', Sex='M', ID=27)
Pandas(Index=27, Name='ANGELA PLATZER', Score=91.0, Age=20, Ethinicity='European American', Subject='Maths', Sex='M', ID=28)
Pandas(Index=28, Name='ANN MANNIX', Score=88.0, Age=21, Ethinicity='Hispanic', Subject='Maths', Sex='M', ID=29)
Pandas(Index=29, Name='ANNA BROWN', Score=85.0, Age=19, Ethinicity='White American', Subject='Maths', Sex='F', ID=30)
Pandas(Index=30, Name='ANNE KRONENBERG', Score=75.0, Age=20, Ethinicity='White American', Subject='Maths', Sex='M', ID=31)
Pandas(Index=31, Name='ANNETTE HOBRUCKER-PFEIFER', Score=66.0, Age=21, Ethinicity='European American', Subject='Maths', Sex='M', ID=32)
Pandas(Index=32, Name='ANTHONY DUMONT', Score=45.0, Age=19, Ethinicity='European American', Subject='Maths', Sex='M', ID=33)
Pandas(Index=33, Name='ANTHONY ROBINSON', Score=66.0, Age=18, Ethinicity='European American', Subject='Maths', Sex='M', ID=34)
Pandas(Index=34, Name='ANTONIO FLORES', Score=53.0, Age=20, Ethinicity='Hispanic', Subject='Maths', Sex='F', ID=35)
Pandas(Index=35, Name='ANTONIO PARRA', Score=65.0, Age=19, Ethinicity='White American', Subject='Maths', Sex='M', ID=36)
Pandas(Index=36, Name='ANTONIO SANTIAGO', Score=53.0, Age=18, Ethinicity='White American', Subject='Maths', Sex='M', ID=37)
Pandas(Index=37, Name='ARNIE LEE', Score=75.0, Age=20, Ethinicity='White American', Subject='Maths', Sex='M', ID=38)
Pandas(Index=38, Name='ARNOLD CHOY', Score=45.0, Age=18, Ethinicity='White American', Subject='Maths', Sex='M', ID=39)
Pandas(Index=39, Name='ARTHUR BORGES', Score=66.0, Age=19, Ethinicity='White American', Subject='Maths', Sex='F', ID=40)
Pandas(Index=40, Name='ARTHUR KENNEY', Score=75.0, Age=20, Ethinicity='European American', Subject='Maths', Sex='M', ID=41)
Pandas(Index=41, Name='ARTHUR STELLINI', Score=95.0, Age=20, Ethinicity='African American', Subject='Maths', Sex='M', ID=42)
Pandas(Index=42, Name='ATTICA BOWDEN', Score=65.0, Age=21, Ethinicity='White American', Subject='Maths', Sex='M', ID=43)
Pandas(Index=43, Name='BARBARA GARCIA', Score=85.0, Age=18, Ethinicity='European American', Subject='Maths', Sex='M', ID=44)
Pandas(Index=44, Name='BARBARA HALE', Score=82.0, Age=20, Ethinicity='European American', Subject='Maths', Sex='F', ID=45)
Pandas(Index=45, Name='BARBARA SCHULTHEIS', Score=65.0, Age=21, Ethinicity='African American', Subject='Maths', Sex='M', ID=46)
Pandas(Index=46, Name='BARRY BLOOM', Score=85.0, Age=21, Ethinicity='White American', Subject='Maths', Sex='M', ID=47)
Pandas(Index=47, Name='BENJAMIN ROSENFIELD', Score=82.0, Age=18, Ethinicity='Hispanic', Subject='Maths', Sex='M', ID=48)
Pandas(Index=48, Name='BERGLIOTH MATHEWS', Score=65.0, Age=18, Ethinicity='Hispanic', Subject='Maths', Sex='M', ID=49)
Pandas(Index=49, Name='BERT REYES', Score=66.0, Age=19, Ethinicity='White American', Subject='Maths', Sex='F', ID=50)
Pandas(Index=50, Name='BOND YEE', Score=82.0, Age=18, Ethinicity='European American', Subject='Maths', Sex='M', ID=51)
Pandas(Index=51, Name='BONNIE TAYLOR', Score=88.0, Age=19, Ethinicity='White American', Subject='Maths', Sex='M', ID=52)
Pandas(Index=52, Name='BRADEN WOODS', Score=nan, Age=19, Ethinicity='African American', Subject='Maths', Sex='M', ID=53)
Pandas(Index=53, Name='BRENDAN MCGORRIN', Score=95.0, Age=20, Ethinicity='White American', Subject='Maths', Sex='M', ID=54)
Pandas(Index=54, Name='BRENDAN WARD', Score=88.0, Age=21, Ethinicity='White American', Subject='Maths', Sex='F', ID=55)
Pandas(Index=55, Name='BRIAN DELAHUNTY', Score=91.0, Age=18, Ethinicity='Hispanic', Subject='Maths', Sex='M', ID=56)
Pandas(Index=56, Name='BRIAN MURPHY', Score=53.0, Age=20, Ethinicity='European American', Subject='Maths', Sex='M', ID=57)
Pandas(Index=57, Name='BRIAN PHILPOTT', Score=75.0, Age=20, Ethinicity='White American', Subject='Maths', Sex='M', ID=58)
Pandas(Index=58, Name='BRODERICK TOPPS', Score=75.0, Age=20, Ethinicity='White American', Subject='Maths', Sex='M', ID=59)
Pandas(Index=59, Name='BRONWYN GUNDOGDU', Score=95.0, Age=18, Ethinicity='Hispanic', Subject='Maths', Sex='F', ID=60)
Pandas(Index=60, Name='BROOK MANCINELLI', Score=88.0, Age=19, Ethinicity='White American', Subject='Maths', Sex='M', ID=61)
Pandas(Index=61, Name='BRYAN MAR', Score=53.0, Age=18, Ethinicity='African American', Subject='Maths', Sex='M', ID=62)
Pandas(Index=62, Name='BRYAN RUBENSTEIN', Score=82.0, Age=20, Ethinicity='White American', Subject='Maths', Sex='M', ID=63)
Pandas(Index=63, Name='BURK DELVENTHAL', Score=82.0, Age=18, Ethinicity='White American', Subject='Maths', Sex='M', ID=64)
Pandas(Index=64, Name='C PETRUZZELLA', Score=85.0, Age=21, Ethinicity='Hispanic', Subject='Maths', Sex='F', ID=65)
Pandas(Index=65, Name='CANTREZ TRIPLETT', Score=45.0, Age=21, Ethinicity='White American', Subject='Maths', Sex='M', ID=66)
Pandas(Index=66, Name='CARL FABBRI', Score=75.0, Age=20, Ethinicity='Hispanic', Subject='Maths', Sex='M', ID=67)
Pandas(Index=67, Name='CARL JEPSEN', Score=66.0, Age=21, Ethinicity='Hispanic', Subject='Maths', Sex='M', ID=68)
Pandas(Index=68, Name='CARLOS GUTIERREZ', Score=45.0, Age=19, Ethinicity='European American', Subject='Maths', Sex='M', ID=69)
Pandas(Index=69, Name='CATHERINE JAMES', Score=75.0, Age=20, Ethinicity='White American', Subject='Maths', Sex='F', ID=70)
Pandas(Index=70, Name='CHAD LAW', Score=53.0, Age=20, Ethinicity='White American', Subject='Maths', Sex='M', ID=71)
Pandas(Index=71, Name='CHARLES CRANE', Score=65.0, Age=21, Ethinicity='White American', Subject='Maths', Sex='M', ID=72)
Pandas(Index=72, Name='CHARLES SCOTT', Score=53.0, Age=20, Ethinicity='White American', Subject='Maths', Sex='M', ID=73)
Pandas(Index=73, Name='CHARLES STINSON', Score=85.0, Age=19, Ethinicity='European American', Subject='Maths', Sex='M', ID=74)
Pandas(Index=74, Name='CHARLIE ORKES', Score=82.0, Age=18, Ethinicity='Hispanic', Subject='Maths', Sex='F', ID=75)
Pandas(Index=75, Name='CHRIS VEIN', Score=95.0, Age=20, Ethinicity='Hispanic', Subject='Maths', Sex='M', ID=76)
Pandas(Index=76, Name='CHRISTIANE HAYASHI', Score=66.0, Age=19, Ethinicity='White American', Subject='Maths', Sex='M', ID=77)
Pandas(Index=77, Name='CHRISTINE WINKLER', Score=53.0, Age=20, Ethinicity='White American', Subject='Maths', Sex='M', ID=78)
Pandas(Index=78, Name='CHRISTOPHER CHONG', Score=65.0, Age=18, Ethinicity='White American', Subject='Maths', Sex='M', ID=79)
Pandas(Index=79, Name='CHRISTOPHER HAZEN', Score=85.0, Age=19, Ethinicity='European American', Subject='Maths', Sex='F', ID=80)
Pandas(Index=80, Name='CHUTEH KOTAKE', Score=88.0, Age=19, Ethinicity='European American', Subject='Maths', Sex='M', ID=81)
Pandas(Index=81, Name='CLEMENTINO AVILA II', Score=95.0, Age=18, Ethinicity='White American', Subject='Maths', Sex='M', ID=82)
Pandas(Index=82, Name='CLYDE CHRISTOBAL', Score=53.0, Age=20, Ethinicity='European American', Subject='Maths', Sex='M', ID=83)
Pandas(Index=83, Name='COLLEEN RILEY', Score=45.0, Age=19, Ethinicity='Hispanic', Subject='Maths', Sex='M', ID=84)
Pandas(Index=84, Name='CRISTINA REYES', Score=45.0, Age=21, Ethinicity='White American', Subject='Maths', Sex='F', ID=85)
Pandas(Index=85, Name='CROCE CASCIATO', Score=85.0, Age=18, Ethinicity='White American', Subject='Maths', Sex='M', ID=86)
Pandas(Index=86, Name='CURTIS LUM', Score=45.0, Age=19, Ethinicity='European American', Subject='Maths', Sex='M', ID=87)
Pandas(Index=87, Name='DALE CARNES', Score=85.0, Age=21, Ethinicity='European American', Subject='Maths', Sex='M', ID=88)
Pandas(Index=88, Name='DAMON HART', Score=45.0, Age=18, Ethinicity='White American', Subject='Maths', Sex='M', ID=89)
Pandas(Index=89, Name='DANIEL ARMENTA', Score=45.0, Age=21, Ethinicity='African American', Subject='Maths', Sex='F', ID=90)
Pandas(Index=90, Name='DANIEL COX', Score=85.0, Age=19, Ethinicity='Hispanic', Subject='Maths', Sex='M', ID=91)
Pandas(Index=91, Name='DANIEL CUNNINGHAM', Score=88.0, Age=19, Ethinicity='White American', Subject='Maths', Sex='M', ID=92)
Pandas(Index=92, Name='DANIEL DEDET', Score=85.0, Age=19, Ethinicity='White American', Subject='Maths', Sex='M', ID=93)
Pandas(Index=93, Name='DANIEL MAHONEY', Score=91.0, Age=18, Ethinicity='White American', Subject='Maths', Sex='M', ID=94)
Pandas(Index=94, Name='DANIEL MOLLOY', Score=65.0, Age=19, Ethinicity='African American', Subject='Maths', Sex='F', ID=95)
Pandas(Index=95, Name='DANIEL SCDORIS', Score=75.0, Age=18, Ethinicity='White American', Subject='Maths', Sex='M', ID=96)
Pandas(Index=96, Name='DANIEL YONTS', Score=88.0, Age=19, Ethinicity='White American', Subject='Maths', Sex='M', ID=97)
Pandas(Index=97, Name='DARCY KELLER', Score=95.0, Age=18, Ethinicity='White American', Subject='Maths', Sex='M', ID=98)
Pandas(Index=98, Name='DARREN CHOY', Score=65.0, Age=21, Ethinicity='European American', Subject='Maths', Sex='M', ID=99)
Pandas(Index=99, Name='DARRYL HUNTER', Score=65.0, Age=19, Ethinicity='Hispanic', Subject='Maths', Sex='F', ID=100)
Pandas(Index=100, Name='DAVID BRIGGS', Score=45.0, Age=18, Ethinicity='Hispanic', Subject='Maths', Sex='M', ID=101)
Pandas(Index=101, Name='DAVID FRANKLIN', Score=53.0, Age=20, Ethinicity='African American', Subject='Maths', Sex='M', ID=102)
Pandas(Index=102, Name='DAVID HAWKINS', Score=95.0, Age=18, Ethinicity='European American', Subject='Maths', Sex='M', ID=103)
Pandas(Index=103, Name='DAVID KUSHNER', Score=66.0, Age=21, Ethinicity='White American', Subject='Maths', Sex='M', ID=104)
Pandas(Index=104, Name='DAVID LAZAR', Score=82.0, Age=18, Ethinicity='European American', Subject='Maths', Sex='F', ID=105)
Pandas(Index=105, Name='DAVID OWEN', Score=65.0, Age=19, Ethinicity='White American', Subject='Maths', Sex='M', ID=106)
Pandas(Index=106, Name='DAVID PFEIFER', Score=45.0, Age=21, Ethinicity='European American', Subject='Maths', Sex='M', ID=107)
Pandas(Index=107, Name='DAVID SHINN', Score=85.0, Age=21, Ethinicity='European American', Subject='Maths', Sex='M', ID=108)
Pandas(Index=108, Name='DAVID SULLIVAN', Score=45.0, Age=19, Ethinicity='White American', Subject='Maths', Sex='M', ID=109)
Pandas(Index=109, Name='DAVID THOMPSON', Score=85.0, Age=21, Ethinicity='White American', Subject='Maths', Sex='F', ID=110)
Pandas(Index=110, Name='DAVID ZWYER', Score=65.0, Age=21, Ethinicity='European American', Subject='Maths', Sex='M', ID=111)
Pandas(Index=111, Name='DEBBIE TAM', Score=85.0, Age=18, Ethinicity='White American', Subject='Maths', Sex='M', ID=112)
Pandas(Index=112, Name='DEBORAH BORNE', Score=88.0, Age=19, Ethinicity='Hispanic', Subject='Maths', Sex='M', ID=113)
Pandas(Index=113, Name='DEBORAH JETER', Score=45.0, Age=19, Ethinicity='White American', Subject='Maths', Sex='M', ID=114)
Pandas(Index=114, Name='DEBORAH LOGAN', Score=95.0, Age=20, Ethinicity='European American', Subject='Maths', Sex='F', ID=115)
Pandas(Index=115, Name='DEBRA JOHNSON', Score=88.0, Age=21, Ethinicity='White American', Subject='Maths', Sex='M', ID=116)
Pandas(Index=116, Name='DENIS JOYCE', Score=75.0, Age=18, Ethinicity='European American', Subject='Maths', Sex='M', ID=117)
Pandas(Index=117, Name='DENIS OLEARY', Score=53.0, Age=20, Ethinicity='White American', Subject='Maths', Sex='M', ID=118)
Pandas(Index=118, Name='DENISE BAILEY', Score=82.0, Age=20, Ethinicity='European American', Subject='Maths', Sex='M', ID=119)
Pandas(Index=119, Name='DENISE NEWMAN', Score=85.0, Age=21, Ethinicity='White American', Subject='Maths', Sex='F', ID=120)
Pandas(Index=120, Name='DENISE SCHMITT', Score=91.0, Age=18, Ethinicity='European American', Subject='Maths', Sex='M', ID=121)
Pandas(Index=121, Name='DENNIS HERRERA', Score=88.0, Age=18, Ethinicity='White American', Subject='Maths', Sex='M', ID=122)
Pandas(Index=122, Name='DENNIS MARTINEZ', Score=85.0, Age=21, Ethinicity='White American', Subject='Maths', Sex='M', ID=123)
Pandas(Index=123, Name="DENNIS O'NEILL", Score=45.0, Age=19, Ethinicity='European American', Subject='Maths', Sex='M', ID=124)
Pandas(Index=124, Name='DENNIS SUTTER', Score=53.0, Age=18, Ethinicity='European American', Subject='Maths', Sex='F', ID=125)
Pandas(Index=125, Name='DEREK WING', Score=95.0, Age=20, Ethinicity='White American', Subject='Maths', Sex='M', ID=126)
Pandas(Index=126, Name='DERIO DITO', Score=45.0, Age=21, Ethinicity='White American', Subject='Maths', Sex='M', ID=127)
Pandas(Index=127, Name='DIANA GUEVARA', Score=75.0, Age=20, Ethinicity='European American', Subject='Maths', Sex='M', ID=128)
Pandas(Index=128, Name='DOMINIC CELAYA', Score=66.0, Age=21, Ethinicity='White American', Subject='Maths', Sex='M', ID=129)
Pandas(Index=129, Name='DONALD BRYANT', Score=75.0, Age=18, Ethinicity='European American', Subject='Maths', Sex='F', ID=130)
Pandas(Index=130, Name='DONALD FIELDS', Score=66.0, Age=18, Ethinicity='Hispanic', Subject='Maths', Sex='M', ID=131)
Pandas(Index=131, Name='DONALD MARGOLIS', Score=75.0, Age=20, Ethinicity='Hispanic', Subject='Maths', Sex='M', ID=132)
Pandas(Index=132, Name='DONALDSON SHUMPERT', Score=53.0, Age=18, Ethinicity='European American', Subject='Maths', Sex='M', ID=133)
Pandas(Index=133, Name='DONNA LEE', Score=85.0, Age=18, Ethinicity='White American', Subject='Maths', Sex='M', ID=134)
Pandas(Index=134, Name='DONNA MEIXNER', Score=85.0, Age=18, Ethinicity='Hispanic', Subject='Maths', Sex='F', ID=135)
Pandas(Index=135, Name='DONNIE HORNBUCKLE', Score=65.0, Age=21, Ethinicity='European American', Subject='Maths', Sex='M', ID=136)
Pandas(Index=136, Name='DOUGLAS MCEACHERN', Score=65.0, Age=21, Ethinicity='Hispanic', Subject='Maths', Sex='M', ID=137)
Pandas(Index=137, Name='DOUGLAS RIBA', Score=91.0, Age=20, Ethinicity='White American', Subject='Maths', Sex='M', ID=138)
Pandas(Index=138, Name='DUSTIN NOVO', Score=85.0, Age=21, Ethinicity='European American', Subject='Maths', Sex='M', ID=139)
Pandas(Index=139, Name='DWAYNE CURRY', Score=45.0, Age=21, Ethinicity='White American', Subject='Maths', Sex='F', ID=140)
Pandas(Index=140, Name='EDGAR CALLEJAS', Score=82.0, Age=18, Ethinicity='White American', Subject='Maths', Sex='M', ID=141)
Pandas(Index=141, Name='EDGAR GONZALEZ', Score=95.0, Age=20, Ethinicity='Hispanic', Subject='Maths', Sex='M', ID=142)
Pandas(Index=142, Name='EDMUND DEA', Score=85.0, Age=18, Ethinicity='Hispanic', Subject='Maths', Sex='M', ID=143)
Pandas(Index=143, Name='EDMUND VAIL', Score=66.0, Age=18, Ethinicity='White American', Subject='Maths', Sex='M', ID=144)
Pandas(Index=144, Name='EDUARDO GONZALEZ', Score=88.0, Age=21, Ethinicity='White American', Subject='Maths', Sex='F', ID=145)
Pandas(Index=145, Name='EDWARD CAMPBELL', Score=82.0, Age=20, Ethinicity='Hispanic', Subject='Maths', Sex='M', ID=146)
Pandas(Index=146, Name='EDWARD CHEUNG', Score=53.0, Age=18, Ethinicity='European American', Subject='Maths', Sex='M', ID=147)
Pandas(Index=147, Name='EDWARD CHU', Score=88.0, Age=19, Ethinicity='Hispanic', Subject='Maths', Sex='M', ID=148)
Pandas(Index=148, Name='EDWARD DELCARLO', Score=45.0, Age=18, Ethinicity='White American', Subject='Maths', Sex='M', ID=149)
Pandas(Index=149, Name='EDWARD DENNIS', Score=65.0, Age=21, Ethinicity='White American', Subject='Maths', Sex='F', ID=150)
Pandas(Index=150, Name='EDWARD HARRINGTON', Score=95.0, Age=18, Ethinicity='European American', Subject='Maths', Sex='M', ID=151)
Pandas(Index=151, Name='EDWARD REISKIN', Score=31.0, Age=18, Ethinicity='White American', Subject='Maths', Sex='M', ID=152)
Pandas(Index=152, Name='EDWARD ROLAND', Score=66.0, Age=18, Ethinicity='European American', Subject='Maths', Sex='M', ID=153)
Pandas(Index=153, Name='EDWIN LEE', Score=45.0, Age=19, Ethinicity='White American', Subject='Maths', Sex='M', ID=154)
Pandas(Index=154, Name='EHRHARDT GROOTHOFF', Score=53.0, Age=18, Ethinicity='White American', Subject='Maths', Sex='F', ID=155)
Pandas(Index=155, Name='ELAINE COLEMAN', Score=45.0, Age=19, Ethinicity='White American', Subject='Maths', Sex='M', ID=156)
Pandas(Index=156, Name='ELISA RAMIREZ', Score=53.0, Age=18, Ethinicity='European American', Subject='Maths', Sex='M', ID=157)
Pandas(Index=157, Name='ELIZABETH JOHNSON', Score=91.0, Age=18, Ethinicity='European American', Subject='Maths', Sex='M', ID=158)
Pandas(Index=158, Name='ELLEN APOLINARIO', Score=85.0, Age=19, Ethinicity='European American', Subject='Maths', Sex='M', ID=159)
Pandas(Index=159, Name='ELLEN LEVIN', Score=53.0, Age=18, Ethinicity='European American', Subject='Maths', Sex='F', ID=160)
Pandas(Index=160, Name='ELLEN MOFFATT', Score=88.0, Age=18, Ethinicity='White American', Subject='Maths', Sex='M', ID=161)
Pandas(Index=161, Name='ERIBERTO ISON', Score=88.0, Age=18, Ethinicity='White American', Subject='Maths', Sex='M', ID=162)
Pandas(Index=162, Name='ERIC CRANSTON', Score=82.0, Age=18, Ethinicity='Hispanic', Subject='Maths', Sex='M', ID=163)
Pandas(Index=163, Name='ERIKA HOO', Score=85.0, Age=19, Ethinicity='White American', Subject='Maths', Sex='M', ID=164)

CONCATINATION TWO DATAFRAMES - pd.concat/df.append

In [10]:
df_phy = pd.read_csv('PhysicsScoreTerm1.csv')
df_concat=pd.concat([df,df_phy])
print(df_concat)
# print(df.append(df_phy))

                          Name  Score  Age         Ethinicity  Subject Sex  \
0               AI-KYUNG CHUNG   88.0   18     White American    Maths   M
1                  ALAN HARVEY   85.0   19  European American    Maths   M
2                 ALAN REYNAUD   45.0   19  European American    Maths   M
3               ALBERT CENDANA   82.0   18     White American    Maths   M
4               ALBERT HOLT JR   82.0   18     White American    Maths   F
5               ALBERT PARDINI   95.0   20     White American    Maths   M
6                    ALBERT YU   95.0   18     White American    Maths   M
7              ALBERTO PEDRUCO   65.0   19     White American    Maths   M
8                   ALEC BALMY   88.0   18           Hispanic    Maths   M
9            ALEETA VAN RUNKLE   88.0   19           Hispanic    Maths   F
10                    ALEX TSE   53.0   20     White American    Maths   M
11              ALEXANDER CHEN   53.0   20     White American    Maths   M
12              ALEXANDER KWAN   66.0   19     White American    Maths   M
13              ALEXIS GOLDNER   88.0   18     White American    Maths   M
14                ALLEN TURPIN   88.0   21     White American    Maths   F
15                   ALSON LEE   82.0   20     White American    Maths   M
16                   ALVIN LAU   31.0   18     White American    Maths   M
17                   AMEN CHOW   95.0   18  European American    Maths   M
18            AMPARO RODRIGUEZ   91.0   18           Hispanic    Maths   M
19                   AMY BROWN   66.0   18     White American    Maths   F
20                    AMY HART   82.0   18           Hispanic    Maths   M
21                 ANA SAMPERA   66.0   18  European American    Maths   M
22            ANDRE ANDREWS SR   75.0   18     White American    Maths   M
23              ANDRE WILLIAMS   65.0   19           Hispanic    Maths   M
24                ANDREW LOGAN   91.0   20  European American    Maths   F
25                ANDREW SAITZ   91.0   18     White American    Maths   M
26                 ANDY ZANOFF   53.0   20           Hispanic    Maths   M
27              ANGELA PLATZER   91.0   20  European American    Maths   M
28                  ANN MANNIX   88.0   21           Hispanic    Maths   M
29                  ANNA BROWN   85.0   19     White American    Maths   F
..                         ...    ...  ...                ...      ...  ..
569                 TRYG MCCOY   61.0   19           Hispanic  Physics   F
570             TUAMELIE MOALA   41.0   19  European American  Physics   M
571              TYRONE PRUITT   78.0   20           Hispanic  Physics   M
572             TYRONNE JULIAN   49.0   18  European American  Physics   M
573              VALERIE AGARD   81.0   18  European American  Physics   M
574             VALERIE INOUYE   71.0   20  European American  Physics   F
575                     VAN LY   81.0   21     White American  Physics   M
576                 VENUS AZAR   71.0   18     White American  Physics   M
577            VERNONICA JONES   81.0   19     White American  Physics   M
578              VICKI CLAYTON   78.0   18     White American  Physics   M
579              VICTOR WYRSCH   61.0   21     White American  Physics   F
580              VINCENT DAVIS   91.0   18   African American  Physics   M
581           VINCENT PAMPANIN   87.0   20     White American  Physics   M
582                 VIVIAN DAY   41.0   21           Hispanic  Physics   M
583            WAYNE SNODGRASS   91.0   18           Hispanic  Physics   M
584                WENDY STILL   87.0   18  European American  Physics   F
585                WHITNEY YEE   49.0   20     White American  Physics   M
586          WILLIAM MCFARLAND   81.0   19     White American  Physics   M
587          WILLIAM MCFARLAND   41.0   18           Hispanic  Physics   M
588            WILLIAM MULKEEN   84.0   19  European American  Physics   M
589              WILLIAM RADER   78.0   20           Hispanic  Physics   F
590           WILLIAM ROUALDES   61.0   19     White American  Physics   M
591              WILLIAM SCOTT   84.0   19           Hispanic  Physics   M
592         WILLIAM SIFFERMANN   87.0   20           Hispanic  Physics   M
593                  WING CHAN   84.0   19  European American  Physics   M
594                    WING NG   41.0   19     White American  Physics   F
595                YIFANG QIAN   71.0   18     White American  Physics   M
596           ZACHARY PUMPHREY   49.0   20     White American  Physics   M
597  ZEBA IMAN NAZEERI-SIMMONS   71.0   20           Hispanic  Physics   M
598            ZHI JIAR ZHUANG   69.0   19           Hispanic  Physics   M

      ID
0      1
1      2
2      3
3      4
4      5
5      6
6      7
7      8
8      9
9     10
10    11
11    12
12    13
13    14
14    15
15    16
16    17
17    18
18    19
19    20
20    21
21    22
22    23
23    24
24    25
25    26
26    27
27    28
28    29
29    30
..   ...
569  570
570  571
571  572
572  573
573  574
574  575
575  576
576  577
577  578
578  579
579  580
580  581
581  582
582  583
583  584
584  585
585  586
586  587
587  588
588  589
589  590
590  591
591  592
592  593
593  594
594  595
595  596
596  597
597  598
598  599

[1198 rows x 7 columns]

Merge the dataframe or join the dataframe

In [21]:
# print(pd.merge(df,df_phy, on='Name', how='right')) # Right Outer join
# print(pd.merge(df,df_phy, on='Name', how='left')) # Left Outer join
# print(pd.merge(df,df_phy, on='Name',how='outer')) #Outer Join
print(pd.merge(df,df_phy,on='Name',how='inner')) //inner join

                          Name  Score_x  Age_x       Ethinicity_x Subject_x  \
0               AI-KYUNG CHUNG     88.0     18     White American     Maths
1                  ALAN HARVEY     85.0     19  European American     Maths
2                 ALAN REYNAUD     45.0     19  European American     Maths
3               ALBERT CENDANA     82.0     18     White American     Maths
4               ALBERT HOLT JR     82.0     18     White American     Maths
5               ALBERT PARDINI     95.0     20     White American     Maths
6                    ALBERT YU     95.0     18     White American     Maths
7              ALBERTO PEDRUCO     65.0     19     White American     Maths
8                   ALEC BALMY     88.0     18           Hispanic     Maths
9            ALEETA VAN RUNKLE     88.0     19           Hispanic     Maths
10                    ALEX TSE     53.0     20     White American     Maths
11              ALEXANDER CHEN     53.0     20     White American     Maths
12              ALEXANDER KWAN     66.0     19     White American     Maths
13              ALEXIS GOLDNER     88.0     18     White American     Maths
14                ALLEN TURPIN     88.0     21     White American     Maths
15                   ALSON LEE     82.0     20     White American     Maths
16                   ALVIN LAU     31.0     18     White American     Maths
17                   AMEN CHOW     95.0     18  European American     Maths
18            AMPARO RODRIGUEZ     91.0     18           Hispanic     Maths
19                   AMY BROWN     66.0     18     White American     Maths
20                    AMY HART     82.0     18           Hispanic     Maths
21                 ANA SAMPERA     66.0     18  European American     Maths
22            ANDRE ANDREWS SR     75.0     18     White American     Maths
23              ANDRE WILLIAMS     65.0     19           Hispanic     Maths
24                ANDREW LOGAN     91.0     20  European American     Maths
25                ANDREW SAITZ     91.0     18     White American     Maths
26                 ANDY ZANOFF     53.0     20           Hispanic     Maths
27              ANGELA PLATZER     91.0     20  European American     Maths
28                  ANN MANNIX     88.0     21           Hispanic     Maths
29                  ANNA BROWN     85.0     19     White American     Maths
..                         ...      ...    ...                ...       ...
575              TYRONE PRUITT     82.0     20           Hispanic     Maths
576             TYRONNE JULIAN     53.0     18  European American     Maths
577              VALERIE AGARD     85.0     18  European American     Maths
578             VALERIE INOUYE     75.0     20  European American     Maths
579                     VAN LY     85.0     21     White American     Maths
580                 VENUS AZAR     75.0     18     White American     Maths
581            VERNONICA JONES     85.0     19     White American     Maths
582              VICKI CLAYTON     82.0     18     White American     Maths
583              VICTOR WYRSCH     65.0     21     White American     Maths
584              VINCENT DAVIS     95.0     18   African American     Maths
585           VINCENT PAMPANIN     91.0     20     White American     Maths
586                 VIVIAN DAY     45.0     21           Hispanic     Maths
587            WAYNE SNODGRASS     95.0     18           Hispanic     Maths
588                WENDY STILL     91.0     18  European American     Maths
589                WHITNEY YEE     53.0     20     White American     Maths
590          WILLIAM MCFARLAND     85.0     19     White American     Maths
591          WILLIAM MCFARLAND     85.0     19     White American     Maths
592          WILLIAM MCFARLAND     45.0     18           Hispanic     Maths
593          WILLIAM MCFARLAND     45.0     18           Hispanic     Maths
594            WILLIAM MULKEEN     88.0     19  European American     Maths
595              WILLIAM RADER     82.0     20           Hispanic     Maths
596           WILLIAM ROUALDES     65.0     19     White American     Maths
597              WILLIAM SCOTT     88.0     19           Hispanic     Maths
598         WILLIAM SIFFERMANN     91.0     20           Hispanic     Maths
599                  WING CHAN     88.0     19  European American     Maths
600                    WING NG     45.0     19     White American     Maths
601                YIFANG QIAN     75.0     18     White American     Maths
602           ZACHARY PUMPHREY     53.0     20     White American     Maths
603  ZEBA IMAN NAZEERI-SIMMONS     75.0     20           Hispanic     Maths
604            ZHI JIAR ZHUANG     88.0     19           Hispanic     Maths

    Sex_x  ID_x  Score_y  Age_y       Ethinicity_y Subject_y Sex_y  ID_y
0       M     1     84.0     18     White American   Physics     M     1
1       M     2     81.0     19  European American   Physics     M     2
2       M     3     41.0     19  European American   Physics     M     3
3       M     4     78.0     18     White American   Physics     M     4
4       F     5     78.0     18     White American   Physics     F     5
5       M     6     91.0     20     White American   Physics     M     6
6       M     7     91.0     18     White American   Physics     M     7
7       M     8     61.0     19     White American   Physics     M     8
8       M     9     84.0     18           Hispanic   Physics     M     9
9       F    10     84.0     19           Hispanic   Physics     F    10
10      M    11     49.0     20     White American   Physics     M    11
11      M    12     49.0     20     White American   Physics     M    12
12      M    13     62.0     19     White American   Physics     M    13
13      M    14     84.0     18     White American   Physics     M    14
14      F    15     84.0     21     White American   Physics     F    15
15      M    16     78.0     20     White American   Physics     M    16
16      M    17      NaN     18     White American   Physics     M    17
17      M    18     91.0     18  European American   Physics     M    18
18      M    19     87.0     18           Hispanic   Physics     M    19
19      F    20     62.0     18     White American   Physics     F    20
20      M    21     78.0     18           Hispanic   Physics     M    21
21      M    22     62.0     18  European American   Physics     M    22
22      M    23     71.0     18     White American   Physics     M    23
23      M    24     61.0     19           Hispanic   Physics     M    24
24      F    25     87.0     20  European American   Physics     F    25
25      M    26     87.0     18     White American   Physics     M    26
26      M    27     49.0     20           Hispanic   Physics     M    27
27      M    28     87.0     20  European American   Physics     M    28
28      M    29     84.0     21           Hispanic   Physics     M    29
29      F    30     81.0     19     White American   Physics     F    30
..    ...   ...      ...    ...                ...       ...   ...   ...
575     M   572     78.0     20           Hispanic   Physics     M   572
576     M   573     49.0     18  European American   Physics     M   573
577     M   574     81.0     18  European American   Physics     M   574
578     F   575     71.0     20  European American   Physics     F   575
579     M   576     81.0     21     White American   Physics     M   576
580     M   577     71.0     18     White American   Physics     M   577
581     M   578     81.0     19     White American   Physics     M   578
582     M   579     78.0     18     White American   Physics     M   579
583     F   580     61.0     21     White American   Physics     F   580
584     M   581     91.0     18   African American   Physics     M   581
585     M   582     87.0     20     White American   Physics     M   582
586     M   583     41.0     21           Hispanic   Physics     M   583
587     M   584     91.0     18           Hispanic   Physics     M   584
588     F   585     87.0     18  European American   Physics     F   585
589     M   586     49.0     20     White American   Physics     M   586
590     M   587     81.0     19     White American   Physics     M   587
591     M   587     41.0     18           Hispanic   Physics     M   588
592     M   588     81.0     19     White American   Physics     M   587
593     M   588     41.0     18           Hispanic   Physics     M   588
594     M   589     84.0     19  European American   Physics     M   589
595     F   590     78.0     20           Hispanic   Physics     F   590
596     M   591     61.0     19     White American   Physics     M   591
597     M   592     84.0     19           Hispanic   Physics     M   592
598     M   593     87.0     20           Hispanic   Physics     M   593
599     M   594     84.0     19  European American   Physics     M   594
600     F   595     41.0     19     White American   Physics     F   595
601     M   596     71.0     18     White American   Physics     M   596
602     M   597     49.0     20     White American   Physics     M   597
603     M   598     71.0     20           Hispanic   Physics     M   598
604     M   599     69.0     19           Hispanic   Physics     M   599

[605 rows x 13 columns]

Find out row and column in the dataframe

In [23]:
df.shape # 599 rows and 7 column

(599, 7)

Find the datatype in the dataframe

In [24]:
df.dtypes

Name           object
Score         float64
Age             int64
Ethinicity     object
Subject        object
Sex            object
ID              int64
dtype: object

FIND THE STATISTICAL SUMMARY OF THE DATAFRAME

In [26]:
df.describe()

            Score         Age          ID
count  596.000000  599.000000  599.000000
mean    74.348993   19.121870  300.000000
std     16.217918    1.052234  173.060683
min     31.000000   18.000000    1.000000
25%     65.000000   18.000000  150.500000
50%     78.500000   19.000000  300.000000
75%     88.000000   20.000000  449.500000
max     95.000000   21.000000  599.000000